<footer class="page__footer">
  <a href="./index.html#main" class="footer__button" title="Back to Top">
    <img
      src="./assets/images/ico-arrow.svg"
      alt="3 Reasons To Purchase"
      class="footer__button--icon"
    />
  </a>
  <div class="footer-flex">
    <nav class="footer-nav1">
      <ul class="footer-nav1__list">
        <li>
          <a
            href="https://adalab.es/"
            title="Go Adalab.es"
            class="footer-nav1__list--link link1"
          >
            Articles</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Go Adalab.es"
            class="footer-nav1__list--link link2"
          >
            Books</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Go Adalab.es"
            class="footer-nav1__list--link link3"
          >
            Events</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Go Adalab.es"
            class="footer-nav1__list--link link4"
          >
            Reasons</a
          >
        </li>
        <li>
          <a
            href="https://adalab.es/"
            title="Go Adalab.es"
            class="footer-nav1__list--link link5"
          >
            Tips</a
          >
        </li>
      </ul>
    </nav>
    <nav class="footer-nav2">
      <ul class="footer-nav2__list">
        <li>
          <a
            href="https://twitter.com/?lang=es"
            title="Go Twitter.com"
            class="footer-nav2__list--link link1"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.instagram.com/"
            title="Go Instagram.com"
            class="footer-nav2__list--link link2"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://mastodon.social/"
            title="Go Mastodon.social"
            class="footer-nav2__list--link link3"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>
    <div class="footer__copy">
      <small class="footer__copy--copy">
        &copy; 2021
        <p class="footer__copy--slogan">
          We <span class="footer__heart">&#10084;</span> components
        </p>
      </small>
    </div>
  </div>
</footer>
