<main class="page__main" id="main">
  <section class="hero">
    <h1 class="hero__title">Anonymous proxy</h1>
    <h2 class="hero__subtitle">In hac habitasse platea dictumst.</h2>
    <a
      href="./index.html#section-reasons"
      class="hero__button"
      title="3 Reasons To Purchase"
    >
      <img
        src="./assets/images/ico-scroll-down.svg"
        alt="3 Reasons To Purchase"
        class="hero__button--icon"
      />
    </a>
  </section>

  <section class="section-tips">
    <div class="container">
      <h3 class="section-tips__subtitle">Insomnia tips</h3>
      <h2 class="section-tips__title">Looking through a window</h2>
    </div>
    <p class="section-tips__text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <a href="https://adalab.es/" title="Go Adalab.es" class="section-tips__link"
      >Go</a
    >
  </section>

  <section class="section-reasons" id="section-reasons">
    <h2 class="section-reasons__title">3 Reasons to purchase</h2>
    <ul class="section-reasons__list">
      <li class="section-reasons__list--item item1">
        <article>
          <h3 class="section-reasons__list--item-title">Ut sed metus</h3>
          <p class="section-reasons__list--item-text">
            Lorem ipsum dolor sit, amet consectetur.
          </p>
        </article>
      </li>
      <li class="section-reasons__list--item item2">
        <article>
          <h3 class="section-reasons__list--item-title">Curabitur ac erat</h3>
          <p class="section-reasons__list--item-text">
            Mauris mattis uma quis lorem molestie.
          </p>
        </article>
      </li>
      <li class="section-reasons__list--item item3">
        <article>
          <h3 class="section-reasons__list--item-title">Morbi dictum</h3>
          <p class="section-reasons__list--item-text">
            Aliquam in dolor et dolor tincidunt.
          </p>
        </article>
      </li>
    </ul>
    <a
      href="https://adalab.es/"
      title="Go Adalab.es"
      class="section-reasons__link"
      >More reasons</a
    >
  </section>
</main>
