.page__header {
  width: 44px;
  height: 44px;
  background-color: $cerulean;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}
.header__menu {
  padding: 12px;
}
.header__menu--image {
  width: 16px;
  height: 14px;
}
